# Filename: .gitignore

# Ambiente virtuale
venv/

# Cache di Python
__pycache__/
*.pyc

# File di sistema del Mac
.DS_Store

# Cartelle di output e log
/models/
/logs/

# File di cache di Hugging Face e Jupyter
.ipynb_checkpoints/

# File di debug
debug_ner_model.py

# Script di valutazione
scriptdivalutazione.py

# File vecchi o temporanei
train_ner.py
train_classifier.py
cami_demo.py
cami_app_demo_con_visuals.py
cami_app_demo_con_ner.py
cami_app_demo_avanzata.py
